<!DOCTYPE html>
<html>

<head>

    <title>Arsenal</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Special+Elite|Share+Tech+Mono" rel="stylesheet">

    <!-- blur css -->
    <link rel= "stylesheet" href= "/assets/style/style.css" >

</head>

{{{body}}}

 <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<!-- Custom JS-->

<script src ="/assets/js/indexslider.js"></script>

<script>

$("#regbutton").on("click" function(){

  $("#existingUser").fadeOut(2000);
  $("#newUser").fadeIn(4000);

});
</script>

</html>