
<body>
<header><button type="button" class="btn btn-danger faqbut" id = "button">START HERE</button><br><br></header>
  <div id="wrapper" class="active">
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" class ="text" href="#">Arsenal<img class = "ham" src="assets/images/togglecon6.png"></a></li>
      </ul>
        <ul class="sidebar-nav navi" id="sidebar">
        <li>Grenade:<a class = "popup-with-move-anim" href = "#weapons"></a></li>
        <li>Ranged:<a class = "popup-with-move-anim" href = "#weapons"></a></li>
        <li>Automatic:<a class = "popup-with-move-anim" href = "#weapons"></a></li>
        <li>Snub:<a class = "popup-with-move-anim" href = "#weapons"></a></li>
        </ul>
        <ul class = "sidebar-nav" id="sidebar">
          <li class = "icons"><button type="button" class="btn btn-danger outbut" id = "button">Logout</li>
          <li class="icons"><img class = "space" src = "assets/images/icongit.png"><img class = "space" src = "assets/images/iconin.png"></li>
        </ul>
      </div>

      <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
<div id="weapons" class="zoom-anim-dialog mfp-hide">
  <div class = "popup-gallery">
        Weapons Popup
    </div>
</div>
<div id="FAQ" class="zoom-anim-dialog mfp-hide">
  <div class = "popup-gallery">
        faq
    </div>
</div>

      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
              <div class="col-md-12">
                <div class = "weaponholder">
                info goes here
                </div>
            </div>
          </div>
        </div>
      </div>

</body>
